body{
    background: #fadede;
}
.container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    font-family: 'sacramento',cursive;
    color: #fe7696;
    font-size: 24px;
}
.letter{
    height: 400px;
    width: 600px;
    display: inline-block;

}
.rose{
    width: 1200px;
    margin-top: 350px;
    height: 200px;
    position: absolute;
    right: 0;
    display: inline-block;
    animation: yid 5s infinite;
    transform: translate(40%);
}
.patel{
    width: 50px;
    height: 50px;
    background: #fe7696;
    border-radius: 0px 50%;
    position: absolute;
    box-shadow: 0 0 10px #d1123f;
    z-index: 2;
    transform-origin: bottom right;
    animation: zhanki2 10s infinite;

}
.patel:nth-child(2){
    transform-origin: right bottom;
    transform: rotate(90deg);
    background: #fe7696;
    left: -10px;
    animation: zhanki1 10s infinite;
}
.patel:nth-child(3){
    width: 40px;
    height: 40px;
    left: 10px;
    z-index: 1;
    top: -20px;
    background: #f03a64;
    transform-origin: bottom right;
    animation: zhanki2 10s infinite;
}
.patel:nth-child(4){
    transform: rotate(90deg);
    width: 40px;
    height: 40px;
    left: 0;
    top: -20px;
    z-index: 1;
    transform-origin: bottom right;
    background: #f03a64;
    animation: zhanki1 10s infinite;
     
}
.patel:nth-child(5){
    width: 50px;
    height: 50px;
    border-radius: 20px;
    left: 20px;
    top: -20px;
    z-index: 0;
    background: #d1123f;
}
.leaf{
    position: absolute;
    top: 120px;
    left: -115px;

}
.steam{
    width: 240px;
    height: 40px;
    background: transparent;
    border: 8px solid #8ac78a;
    border-color: #77a377 transparent transparent transparent;
    border-radius: 50% 50%;
    transform: rotate(100deg);
}
.leafs{
    width: 50px;
    height: 40px;
    border-radius: 0px 50%;
    background: #77a377;
    position: absolute;
    top: 0px;
    left: 100px;
    z-index: 0;

}
.leafs:nth-child(2){
    width: 40px;
    height: 20px;
    top: 40px;
    left: 140px;
    transform: rotate(120deg);
}
@keyframes yid{
    50%{
        transform: translate(35%);
    }
    100%{
        transform: translate(40%);
    }
}
@keyframes zhanki1{
    50%{
        transform: rotate(80deg);

    }
    100%{
        transform: rotate(80deg);
    }
}
@keyframes zhanki2{
    50%{
        transform: rotate(20deg);

    }
    100%{
        transform: rotate(20deg);
    }
}
@media (max-width: 600px) {
    .container {
        padding: 10px; 
    }

    .rose {
        margin-top: 20px; 
    }
}






